* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  display: flex;
  overflow: hidden;
}
.navbar {
  flex: 0.2;
  background-color: rgb(0, 21, 41);
}

.main {
  flex: 0.8;
  width: 100%;
}
.routes {
  padding: 20px;
}
.nav-container {
  position: fixed;
  left: 0;
  height: 100vh;
  margin: 0px;
  background-color: rgb(0, 21, 41);
}
.nav-logo {
  display: flex;
  margin: 10px;
  position: relative;
}
.footer {
  background-color: #001529;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.coin-heading-cotainer {
  padding: 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid lightgray;
}
.select-timeperiod {
  width: 190px;
}
.info-container {
  display: flex;
}
.heading-info {
  padding: 17px;
}
.under_inf {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}
.under1-dif {
  padding: 8px;
}
.price-chart {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu-control-container {
  position: relative !important;
  /* display: none !important; */
  top: 12px !important;
  right: 10px !important;
  margin-left: 20px;
  font-size: 1rem !important;
  border: none !important;
}

.news-image-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.news-image-container .news-title {
  margin-right: 10px;
  font-size: 19px;
}
.news-image-container img {
  height: 89px;
  width: 90px;
  border-radius: 14px;
  margin-right: 19px;
}
.provider-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.provider-name {
  margin-left: 7px;
}

.select-news {
  width: 300px;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .app {
    flex-direction: column;
    overflow: hidden;
  }
  .info-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 980px) {
  .main {
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
  }
}
@media screen and (max-width: 1000px) {
  .app {
    flex-direction: column;
    overflow: hidden;
  }
  .main {
    flex: 1;
    margin-top: 73px;
    margin-left: 0px;
    margin-right: 9px;
  }
  .nav-container {
    height: 8vh;
    position: fixed;
    width: 20%;
    z-index: 100;
    background-color: var(--bgSecondary);
  }
}
